
body {
    margin: 0;
    padding: 0
}
#initial-block{
    overflow: hidden;
}

#initial-block div {
    height: 300px;
    width: calc(33.33% - 4px);
    float: left;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

#block-1{
    background-color: red;
    
  
}
#block-2{
    background-color: green;

}
#block-3 {
    background-color: orange;
    
}

/* @media (min-width: 0px) and (max-width: 480px){
    #initial-block div {
        width: 160px;
    }
} */