/*
 =================== NORMALIZE ================================
*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

body {
    font-family: "Raleway", sans-serif;

}

/*
    ================= COMMON STYLE=================
*/
.section {
    padding: 140px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.section-title {
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 40px;
}

.relative {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

.bg-dark {
    background: #000;
}

.text-white {
    color: #fff
}

.block {
    display: block;
}

/*
=============================== HEADER SECTION =====================
*/
#header-section {
    background: url("../img/header-bg.jpg") center center / cover;
    height: 100vh;
    position: relative;
    z-index: 9

}

#header-section.scrollable nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background: blue;
    padding: 0;
}

.container.header-container {
    width: 90%;
}

.left-black-bar {
    background-color: #0a0c00;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    transition: 700ms linear;
    opacity: 0;
}

.animation-start .left-black-bar {
    width: 40%;
    opacity: 1;
}

nav {
    color: #fff;
    justify-content: space-between;
    transition: 500ms;

}

.logo {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.menu {
    font-family: "Raleway", sans-serif;
}

.menu li a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    transition: 300ms;
}

.menu li a:hover {
    color: #999
}

.search {
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: 600;
}

.intro {
    color: #fff;
    font-family: "Raleway", sans-serif;
    padding-top: 100px;
}

.who-we-are {

    font-size: 120px;
    font-weight: 900;
}

.everyday {
    text-indent: 200px;
}

.what-we-do {
    margin-top: 30px;
}

.what-we-do p {
    font-size: 20px;
    font-weight: 500;
}

.what-we-do button {
    background-color: #e3ff04;
    border: none;
    padding: 18px 25px;
    margin-top: 30px;
    font-weight: 600;
}

/*
 ----------- marquee section-----------
*/

#marquee-section {
    background: #1601ac;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding: 30px 10px;
}

/*  ------------- OFFER SECTION ---- */
#offer-section {
}

.offer-list {
}

.single-offer {
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.single-offer div {
    background: #ddd;
    padding: 20px;
    box-sizing: border-box;
    transition: 500ms cubic-bezier(0, -0.64, 0.51, 1.66)
}

.single-offer svg {
    width: 60px;
    height: 60px;

}

.single-offer h3 {
    font-size: 30px;
    font-weight: 900;
    padding: 50px 0;
}

.single-offer a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    background: rgb(70, 70, 219);
    color: #fff;
    padding: 10px;
    border-radius: 10px 0;
    transition: 400ms cubic-bezier(0, -0.64, 0.51, 1.66);

}

.single-offer a:hover {
    background: blue;
    border-radius: 0px 10px;

}

.single-offer div:hover {
    scale: 1.1;
}

#range-of-service {
    background: #e3ff04;
    position: relative;
}

.range-content {
    width: 50%;

}

.range-content-title {
    font-size: 50px;
    font-weight: 800;
    display: block;
    padding-bottom: 30px;
}

.range-content p {
    font-size: 20px;
}

.range-thumb {
    width: 40%;
    position: absolute;
    top: -100px;
    height: 97%;
}

.range-thumb img {
    width: 100%;
    height: 100%;
}

.range-content ul li span {
    font-size: 20px;
    font-weight: 500;
    display: block;
    padding: 10px 0;
}

.range-content .bar {
    width: 100%;
    border-top: 4px solid #000;
}

.range-progress-list {
    padding-top: 40px;
}


.animate__animated.animate__bounce {
    --animate-duration: 3s;
    animation-iteration-count: infinite;
}


/**/
.projects.owl-carousel.owl-theme .owl-dots {
    margin-top: 100px;
}

.project-thumb {
    overflow: hidden;
}

.project-thumb img {
    transition: 400ms ease-in-out;
}

.single-project:hover img {
    transform: scale(1.04);
    transform-origin: top right;
}

.project-details {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 50px;
    color: #fff;
    z-index: 999;
}

.project-details .branding {
    font-size: 16px;
    display: block;
    margin-bottom: 30px;
}

.project-details .branding-title {
    font-size: 30px;
    font-weight: 600;
}

/* VIDEO SECTION */
#video-section {
    background: url("../img/video-bg.jpg") no-repeat center center/cover fixed;
    height: 450px;

}

.play-button {
    background: #ddd;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .3s linear;
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.07);
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

.video-overlay.show {
    display: flex;
}

#video-wrapper {
    width: 1000px;
    height: 550px;
    position: relative;
    background: #fafcf8;
    z-index: 1;
}

#video-wrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#video-wrapper iframe {
    width: 100%;
    height: 100%;
}

#video-wrapper .close {
    position: absolute;
    top: 12px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 9999;
}

/* ACHIEVEMENT SECTION */
#achievement-section.section {
    padding-top: 0;
}

.container.achievement-container {
    width: 55%;
}

.year-wise-achievement {
    border-bottom: 2px solid #000;
    padding: 30px 0;

}

/*.year-wise-achievement:nth-of-type(1){*/
/*    border-top: 2px solid #000;*/
/*}*/
.achievement-listing:first-child {
    border-top: 2px solid #000;
}

.year-wise-achievement .year {
    font-weight: 700;
    font-size: 17px;
    transition: 0.4s linear;
}

.year-wise-achievement .project-name {
    transition: 0.4s linear;
}

.year-wise-achievement .project-name h3 {
    font-size: 25px;
    margin-bottom: 6px;
}

.year-wise-achievement .project-name span {
    font-size: 16px;
}

.year-wise-achievement .author {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.4s linear;
}

.year-wise-achievement:hover .year, .year-wise-achievement:hover .project-name {
    transform: translateX(50px);
}

.year-wise-achievement:hover .author {
    transform: translateX(-50px);
}


/* news and article section */
.news-list {
    width: 83%;
    margin: auto;
}

.single-news img {
    display: block;
    width: 100%;
}

.single-news {
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

.summary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, black 91%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #fff;
    box-sizing: border-box;
    justify-content: flex-end;
}

.published-date {
    font-size: 18px;
}

.news-title {
    margin: 15px 0;
    font-weight: 700;
    font-size: 30px;
}

.view-details {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 19px;
    color: #fff;
    width: 138px;
    overflow: hidden;
    letter-spacing: 3px;
    position: relative;
    height: 22px;
}

.animated-border {
    width: 138px;
    overflow: hidden;
    position: relative;
}

span.read-effect {
    display: block;
    transition: 400ms;
}


a.view-details:hover .read-effect {
    transform: translateY(-23px);
}

span.solid-border {
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
}

span.border-wrapper {
    width: 100%;
    display: block;
    height: 2px;
    position: relative;
}

span.dotted-border {
    display: flex;
    margin-left: -305px;
    transition: 600ms;
}

span.min {
    width: 30%;
    display: block;
    height: 2px;
    background: #fff;
    transition: 600ms;
}

span.max {
    width: 100%;
    background: #fff;
    height: 2px;
    display: block;
    margin-right: 40px;
    transition: 600ms;
}

.view-details:hover + .animated-border span.dotted-border {
    margin-left: 0;
}

.view-details:hover + .animated-border span.max {
    margin-right: 0px;
}


.view-details:hover + .animated-border span.min {
    width: 0;
}

.view-details:hover + .animated-border span.solid-border {
    display: none;
}

.partner-list {
    width: 66%;
    margin: auto;
    padding-top: 150px;
}

.partner-list li {
    width: 25%;
}


.partner-item-wrapper {
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    text-align: center;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partner-list ul {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

span.effect {
    height: 37px;
    overflow: hidden;
}

.client-effect {
    transition: 200ms linear;
    display: block;
}

.partner-list li:hover .client-effect {
    transform: translateY(-40px);
}


/* lets-talk-section */
#lets-talk-section {
    background: #e3ff04
}

.sub-title {
    font-size: 20px;
}

.lets-talk-btn {
    padding: 20px;
    display: inline-block;
    margin-top: 50px;
}


/* FOOTER SECTION */
#footer-section {
}

.section.footer-section {
    padding-bottom: 50px;
}

.footer-content {
    width: 75%;
    margin: auto;
}

.footer-top-single-block {
    width: 25%;
}

.footer-top-single-block:nth-of-type(1) {
    width: 50%;
}

.footer-top-single-block h3 {
    font-size: 23px;
    margin-bottom: 30px;
}

.footer-top-single-block p {
    font-size: 18px;
    line-height: 31px;
}

.footer-top-single-block input {
    width: 70%;
    padding: 7px 10px;
    border: none;

    margin: 20px 0;
}

.footer-top-single-block input.disabled {
    border-bottom: 2px solid #999;
}

.footer-top-single-block input {
    border-bottom: 2px solid green;
}

.footer-top-single-block input:focus-visible {
    outline: none;
}

.footer-top-single-block ul li a {
    color: #000;
    padding: 8px 0;
    display: inline-block;
    position: relative;
}

.footer-top-single-block ul li a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background: #000;
    left: 0;
    bottom: 8px;
    border-radius: 50%;
    transition: 400ms linear;
}

.footer-top-single-block ul li a:hover::after {
    width: 100%;
}

.footer-top-single-block span {
    display: block;

}

.footer-top-single-block img {
    margin-left: -20px;
    cursor: pointer;
}

.footer-top-single-block img.disabled {
    opacity: .5;
    pointer-events: none;
}

.footer-bottom {
    border-top: 2px solid #000;
    padding-top: 30px;
    margin-top: 100px;
}

.footer-bottom ul {
    gap: 20px;
}

.footer-bottom ul li a {
    color: #000;
}

.scroll-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9999;
}

.scroll-top svg.progress-circle {
    width: 74px;
    height: 74px;
    fill: transparent;
}

.arrow-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    background: transparent;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ddd;
    z-index: -2;
}

.scroll-top svg.progress-circle path {
    stroke-width: 4;
    stroke: #000
}
