/* 
 =================== NORMALIZE ================================
*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration:  none;
}

body{
    font-family: "Raleway", sans-serif;
}

/*
    ================= COMMON STYLE=================
*/
.section {
    padding: 140px 0;
}
.container {
    width: 80%;
    margin: auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.between {
    justify-content: space-between;
}
.justify-end {
    justify-content: end;
}
.center {
    justify-content: center;
}
.align-center{
    align-items: center;
}
.column {
    flex-direction: column;
}
.text-center {
    text-align: center;
}
.section-title {
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 40px;
}
/* 
=============================== HEADER SECTION =====================
*/
#header-section {
    background: url("../img/header-bg.jpg") center center / cover;
    height: 100vh;
    position: relative;
    z-index: 1
}
#header-section.scrollable nav {
    position: fixed;
    left: 0; top: 0; right: 0;
    z-index: 1;
    background: blue;
    padding: 0 5%;
}
.container.header-container{
    width: 90%;
}
.left-black-bar {
    background-color: #0a0c00;
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: -1
}
nav {
    color: #fff;
    justify-content: space-between;
    transition: 500ms;

}
.logo {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.menu {
    font-family: "Raleway", sans-serif;
}

.menu li a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
.search {
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: 600;
}
.intro {
    color: #fff;
     font-family: "Raleway", sans-serif;
     padding-top: 100px;
}
.who-we-are {
   
    font-size: 120px;
    font-weight: 900;
}
.everyday{
    text-indent: 200px;
}
.what-we-do {
    margin-top: 30px;
}
.what-we-do p {
    font-size: 20px;
    font-weight: 500;
}
.what-we-do button {
    background-color: #e3ff04;
    border: none;
    padding: 18px 25px;
    margin-top: 30px;
    font-weight: 600;
}

/* 
 ----------- marquee section-----------
*/

#marquee-section {
    background: #1601ac;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding: 30px 10px;
}

/*  ------------- OFFER SECTION ---- */
#offer-section {}
.offer-list {}
.single-offer {
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
}

.single-offer div {
    background: #ddd;
    padding: 20px;
    box-sizing: border-box;
}
.single-offer svg {
    width: 60px;
    height: 60px;

}
.single-offer h3 {
    font-size: 30px;
    font-weight: 900;
    padding: 50px 0;
}
.single-offer a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

#range-of-service {
    background: #e3ff04;
    position: relative;
}
.range-content {
    width: 50%;

}
.range-content-title{
    font-size: 50px;
    font-weight: 800;
    display: block;
    padding-bottom: 30px;
}
.range-content p {
    font-size: 20px;
}

.range-thumb {
    width: 40%;
    position: absolute;
    top: -100px;
    height: 97%;
}
.range-thumb img {
    width: 100%;
    height: 100%;
}

.range-content ul li span {
    font-size: 20px;
    font-weight: 500;
    display: block;
    padding: 10px 0;
}
.range-content .bar{
    width: 100%;
   border-top: 4px solid #000;
}
.range-progress-list {
    padding-top: 40px;
}