/* ==================================COMMON STYLES===================================== */

body {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: orange;
}


/* =============================LOGIN FORM============================= */
#login-form {
    background: url("loginbg.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

}

#login-form:after {
    background: #fff;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

.form-wrapper {
    background: #fff;
    padding: 30px 0;
    box-shadow: 10px -1px 21px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 10px -1px 21px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 10px -1px 21px -3px rgba(0, 0, 0, 0.58);
}

#login-form h1 {
    margin-top: 0;
}

fieldset {
    width: 30%;
    margin: auto;
}

form label {
    display: block;
    margin: 6px 0;
    font-size: 16px;
}

form input {
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 300px;
    margin-right: 10px;
    display: block;
    background: skyblue;
    color: #fff;
    cursor: pointer;
}

.submit {
    margin-top: 20px;
}

.submit button {
    width: 100px;
    padding: 0;
}

.submit p {
    text-align: center;
}

input::placeholder {
    color: #999;
    font-size: 14px;
}

input:focus-visible {
    outline: none;
}


/* ===========================ERROR MESSAGE========================== */

#error {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}


/* ========================PASSWORD FIELD========================== */

.password-field {
    position: relative;
}

.toggle {
    position: absolute;
    top: 10px;
    right: 70px;
    cursor: pointer;
    color: #000;

}

.toggle div {
    position: absolute;
}

.toggle .hide {
    display: none;
}


/* ===========================RESULT========================= */

#result {
    width: 100%;
    border: none;
    font-size: 14px;
    text-align: center;
}


/* ==============================TABS============================ */

.tabs button {
    margin: 0 10px;
    cursor: pointer;
}


/* #####################################################################################################
########################################################################################################
######################################################################################################## */


/* ==========================DASHBOARD============================ */

.dashboard {
    height: 100vh;
    background: #D6D6D6;
}


/* ============================= SIDEBAR ============================ */

.sidebar {
    width: 300px;
    padding: 20px 0;
    box-sizing: border-box;
    background: #999;

    justify-content: space-between;
    align-items: center;
}

.author {
    width: 100px;
    margin: 20px auto;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.author img {
    width: 100%;
    display: block;
}

.author-name {
    font-size: 15px;
    font-weight: 700;
}

.sidebar ul li a {
    display: block;
    padding: 10px 0;
    color: #333;
    font-size: 20px;
    transition: 400ms;
}

.sidebar ul li a:hover {
    color: #000;
}

/* ==============================MAIN CONTENT============================= */

.main-content {
    width: calc(100% - 300px);
    padding: 20px;
}

/*

*/
