/* ==================================COMMON STYLES===================================== */

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: orange;
}


/* =============================LOGIN FORM============================= */
#login-form {
    background: url("assets/loginbg.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

}

#login-form:after {
    background: #fff;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

.form-wrapper {
    background: #fff;
    padding: 30px 0;
    box-shadow: 10px -1px 21px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 10px -1px 21px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 10px -1px 21px -3px rgba(0, 0, 0, 0.58);
}

#login-form h1 {
    margin-top: 0;
}

fieldset {
    width: 30%;
    margin: auto;
}

form label {
    display: block;
    margin: 6px 0;
    font-size: 16px;
}

form input {
    width: 100%;
    padding: 10px 5px 10px 35px;
    box-sizing: border-box;
    font-size: 18px;
}

form input[type="submit"] {
    width: 300px;
    margin-right: 10px;
    display: block;
    background: skyblue;
    color: #fff;
    cursor: pointer;
}

.submit {
    margin-top: 20px;
}

.submit button {
    width: 100px;
    padding: 0;
}

.submit p {
    text-align: center;
}

input::placeholder {
    color: #999;
    font-size: 14px;
    display: block;
}

input:focus-visible {
    outline: none;
}


/* ===========================ERROR MESSAGE========================== */

#error {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}


/* ========================PASSWORD FIELD========================== */

.password-field {
    position: relative;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}

.toggle div {
    position: absolute;
}

.toggle .hide {
    display: none;
}


/* ===========================RESULT========================= */


/* ==============================TABS============================ */

.tabs button {
    margin: 0 10px;
    cursor: pointer;
}


/* #####################################################################################################
########################################################################################################
######################################################################################################## */


/* ==========================DASHBOARD============================ */
.layout {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #99999996;
}

.layout.is-margin {
    margin-bottom: 20px;
}

.dashboards {
    min-height: 100vh;
    background: #D6D6D6;
}


/* ============================= SIDEBAR ============================ */

.sidebar {
    width: 300px;
    padding: 20px 0;
    box-sizing: border-box;
    background: #999;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
}

.author {
    width: 100px;
    margin: 20px auto;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.author img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.author-name {
    font-size: 15px;
    font-weight: 700;
}

.sidebar ul li a {
    display: block;
    padding: 10px 0;
    color: #333;
    font-size: 20px;
    transition: 400ms;
    text-transform: capitalize;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar ul li a:hover {
    color: #000;
}

/* ==============================MAIN CONTENT============================= */
.main {
    margin-top: 20px;
}

.main-content {
    width: calc(100% - 300px);
    padding: 20px;
    margin-left: 300px;
}

.relative {
    position: relative;
}

.user-icon {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0px, -50%);
    color: #666;
    font-size: 21px;
}

.header-menu a {
    color: #444;
    font-size: 17px;
    margin: 0 13px;
}

.header-menu a:last-child {
    margin-right: 0;
}

.menu ul li.active a {
    color: #000;
}

.footer span {
    font-size: 17px;
}

.mini-calculator {
    border: 1px solid;
    width: 400px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

.mini-calculator h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.results {
    width: 100%;
    overflow: hidden;
}

.results input {
    box-sizing: border-box;

}

.results input#res {
    width: 100%;
    text-align: center;
}

.inputs input {
    max-width: 49%;
    box-sizing: border-box;
    margin: 5px 0;
}

#buttons button {
    width: 126px;
    height: 76px;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    width: 500px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

table img {
    width: 50px;
    display: block;
    margin: auto;
    padding: 3px 0;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
}

table th {
    padding: 10px 0;
}


table button {
    border: none;
    background: transparent;
    cursor: pointer;
}

table,
tr,
td {
    border-color: #ddd;
    font-size: 15px;
}

.students-action {
    margin-bottom: 20px;
}

.add-new-button button {
    background: #00449e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.picker {
    display: none;
}

label.preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}

label.preview img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}

form.student-add-update-form input {
    width: 100%;
    display: block;
    margin: 10px 0;
}

form.student-add-update-form input[type="file"] {
    display: none;
}

form.student-add-update-form select {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.delete {
    color: #e61919c4;
}

.edit {
    color: #7e7ee5;
}

.counter-result {
    width: 100px;
    margin: auto;
    text-align: center;
}

.sort-button {
    position: relative;
    top: -7px;
    cursor: pointer;
}

.sort-button span {
    position: absolute;
}

.sort-button span:first-child {
    transform: translateY(-3px);
}

.sort-button span:last-child {
    transform: translateY(3px);
}
